@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&family=Roboto&family=Secular+One&display=swap');

.Background {
  background-image: url(./calculator.jpg);
  background-size: cover;
  background-color: white;
  min-height: 100vh;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 75s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-left: 3vh;
  color: black;
  font-family: 'Heebo', sans-serif;
  font-variant: small-caps;
  font-size: calc(27px + 2vmin);
}

.Buttons-header {
  margin-left: 54vh; 
  display: flex;
  flex-direction: row;
}

.Button {
  margin-left: 5px;
  margin-right: 5px;
  font-family: 'Secular One', sans-serif;
}

.ContentHeader {
  display: flex;
  margin-top: 15vh;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-variant: small-caps;
  font-size: calc(27px + 2vmin);
  color: white;
  background-color: rgba(2, 1, 1, 0.7);
}

.SubcontentHeader {
  display: flex;
  margin-top: 1vh;
  margin-left: 15vh;
  margin-right: 15vh;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: calc(10px + 2vmin);
  text-align: center;
  color: white;
  background-color: rgba(2, 1, 1, 0.7);
}

.ContentButton {
  /* margin-left: 5px;
  margin-right: 5px;
  font-family: 'Secular One', sans-serif; */
  display: flex;
  margin-top: 1vh;
  justify-content: center;
  align-items: center;
}

.Socials {
  min-height: 5vh;
  margin-top: 22vh;
  margin-right: 2vh;
  /* margin-right: 2vh; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
